{% extends 'base.html.twig' %}


 {% block body %}
 <div class="container3">
      <div class="imagen-hero">
         <img height="400px" src="{{ asset('assets/images/parking3.jpg') }}" alt="Parking" />
      </div>
      <div class="hero">
            <h1>Easy Parking</h1>
            <h2>tu Parking Premium</h2>
            <p>¡No te la juegues con tu plaza de garaje!<p>
            <a href="/acceder" class="btn btn-lg btn-warning">Mis Parkings</a>
            <ul>
               <li>Fácil</li>
               <li>Rápido</li>
               <li>Económico</li>
            </ul>
            
      </div>
</div>    
 {% endblock %}